*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container-header{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}
.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 600px;
}
.clock p{
    font-size: 3rem;
    color: #283966;
}
.Hight-Score a{
    font-size: 3rem;
    text-decoration: none;
    color: #283966;
}
.name-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.save, .cancel{
    margin-top: 2rem;
    width: 250px;
}
label{
    font-size: 2rem;
    margin: 1rem;
}
/* stat the quese button*/
.btn {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}
.answareContainer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 50px;
}
.answareBtn{
    margin: 10px;
}


#name {
    padding: 10px;
    font-size: 25px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 13px;
    box-shadow: 1px 2px 10px rgba(66,66,66,.75);
    text-shadow: -7px 0px 0px rgba(66,66,66,.0);
}
#name:focus {
    outline:none;
}